<div class="title-block">
	<h2 class="title pull-left">
		Немного про нас
	</h2>
</div>
<section class="section">
	<br>
	<h5>Мы дружная и профессиональная команда разработчиков состоящая из одного человека</h5>
	<br>
	<h5>Для обратной связи и рабочих вопросов: oleksii.dashko@nure.ua</h5>
</section>
<section class="page__subscribe subscribe">
	<div class="subscribe__container _container">
		<div class="subscribe__body">

			<h4 class="subscribe__title">Подпишись для <br> Новостей</h4>
			<form [formGroup]="form" (ngSubmit)="onSubmit()" class="subscribe__form"
				  [ngClass]="{'has-error': form.get('email')?.invalid && form.get('email')?.touched}">
				<input type="email" required class="subscribe__input" id="email" formControlName="email"
					   placeholder="Your email">
				<button type="submit" class="subscribe__button">Subscribe</button>
			</form>

		</div>
	</div>
</section>
