
.block__row{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 50px;

}

.block__element{
  min-width: 300px;
  max-width: 300px;
  margin: 20px;
  border: 1px solid #000;
}
.block__element__title{
  background: #2aabd2;
  border-radius: 5px;
}
.card__title{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center
}
//.block__element:last-child:first-child {
//  margin: 0;
//}
