<div class="modal fade in modal-wrapper">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button
						type="button"
						class="close"
						(click)="close()">
					<span>×</span>
				</button>
				<h4 class="modal-title">Добавить карту</h4>
			</div>
			<div class="modal-body">
				<form #f="ngForm" (ngSubmit)="onSubmit(f)">
					<div
							class="form-group"
							[ngClass]="{'has-error': cardName.invalid && cardName.touched}"
					>
						<label class="control-label" for="card-name">Название магазина</label>
						<input
								type="text"
								id="card-name"
								class="form-control"
								required
								#cardName="ngModel"
								name="name"
								ngModel
						>
						<span *ngIf="cardName.invalid && cardName.touched" class="form-help-text">Необходимо указать название магазина</span>
					</div>
					<div
							class="form-group"
							[ngClass]="{'has-error': cardNumber.invalid && cardNumber.touched}"
					>
						<label class="control-label" for="card-num">Номер карты</label>
						<input
								type="number"
								id="card-num"
								class="form-control"
								[ngModel]="0"
								name="barNum"
								#cardNumber="ngModel"
								required
								min="1"
						>
						<span
								*ngIf="cardNumber.invalid && cardNumber.touched"
								class="form-help-text">Необходимо указать номер карты</span>
					</div>

					<div class="modal-footer">
						<button
								type="button"
								class="btn btn-secondary"
								(click)="close()">Отмена
						</button>
						<button
								type="submit"
								class="btn btn-primary"
								[disabled]="f.invalid"

						>Добавить
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
